.picture{
    width:inherit;
    height:220px;
    border-radius: 10%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;  
}

body {
    background-image: url('../Pictures/sky.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: inherit;
}

#paragraph{
    position: inherit;
    font-weight: bold;
    width: 50;
    margin-left: 10%;
    margin-top: 10%;
}