#title{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 2%;
    margin-top: 2%;
    font-weight:bold ;
}

body{
    background-image: url('../Pictures/road2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.paragraph{
    color:white;
    font-weight: bold;
    margin-top: 7%;
    font-style: oblique;
}

.picture{
    width:inherit;
    height:inherit;
    border-radius: 5%;
    padding: 20%;
    padding-left: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-right: inherit;
}

#pictureuser{
    width:inherit;
    padding: 20%;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height:!150px;
    white-space: nowrap;
}

#footerstyle{
    background-color: rgb(94, 93, 93);
   }